<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appointment</servlet-name>
        <servlet-class>appointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_appointments</servlet-name>
        <servlet-class>View_appointments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Donate</servlet-name>
        <servlet-class>Donate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatient</servlet-name>
        <servlet-class>SearchPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAppointment_patient</servlet-name>
        <servlet-class>viewAppointment_patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>treatment</servlet-name>
        <servlet-class>treatment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appointment</servlet-name>
        <url-pattern>/appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_appointments</servlet-name>
        <url-pattern>/View_appointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Donate</servlet-name>
        <url-pattern>/Donate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatient</servlet-name>
        <url-pattern>/SearchPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAppointment_patient</servlet-name>
        <url-pattern>/viewAppointment_patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>treatment</servlet-name>
        <url-pattern>/treatment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
